<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><a href="/login_registration_app/travels">Home</a>      <a href = '/login_registration_app/logout'>Logout</a></p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action='/login_registration_app/travels/process_new_trip' method='POST' id = "add_trip">
        {% csrf_token %}
        <label for="destination"> Destination</label>:<input type="text" name="destination"></label><br><br>
        <label for="activity">Description</label>:<input type="text" name="activity"></label><br><br>
        <label for="startdate">Travel Date From</label>:<input type="date" name="startdate"></label><br><br>
        <label for="enddate">Travel Date To</label>:<input type="date" name="enddate"></label><br><br>
        <input type="submit" value="Add">
    </form><br>
</body>
</html>